@use '../global/mq' as *;

.footer {
	background: var(--Berry-Pink);
	color: var(--White);

	&__inner {
		display: grid;
		gap: 4.8rem;
	}

	&__claim {
		font-size: 3.6rem;
		line-height: 1.2;
		margin-bottom: calc(7.6rem - 4.8rem);
	}

	&__menu {}

	&__menu-item {}

	&__menu-link {}

	&__newsletter {}

	&__newsletter {}

	&__copyright {}

}