@use './mq' as *;

:root {

	// colors
	
	--White: #FFF;
	--Black: #000;
	--Berry-Pink: #C40063;

	--gutter: 2rem;

	--header-height: 4.8rem;

	@include mq('tb') {
		--header-height: 5.5rem;
	}

	@include mq('mb') {
		// --gutter: 4.2666vw; // 16px at 375px;
		--gutter: 1.2rem;
	}

}