@use '../global/mq' as *;

.collection {
  background: #ccc;

  &__listing-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__facets {
    grid-column: 1 / 2;
  }

  &__products-wrapper {
    grid-column: 2 / -1;
  }

  &__products-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 1rem;
    align-items: stretch;
  }

}