{{ 'section-image-text.css' | asset_url | stylesheet_tag }}

image-text.liquid




{% schema %}
{
  "name": "t:sections.image-text.name",
  "tag": "section",
  "class": "section image-text",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-text.settings.image.label"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "t:sections.image-text.settings.eyebrow.label",
      "default": "Handwritten text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.image-text.settings.text.label",
      "default": "<p>Image text</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.image-text.settings.button_label.label",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.image-text.settings.button_link.label",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-text.presets.name"
    }
  ]
}
{% endschema %}
