{{ 'section-ticker.css' | asset_url | stylesheet_tag }}

  <splide-slider
    class="splide ticker__slider"
    data-splide='{
      "arrows": false,
      "pagination": false,
      "autoScroll": {
        "speed": 2
      },
      "breakpoints": {
        "1101": {
          "destroy": true
        }
      }  
    }'>
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
          <li class="splide__slide">
            <div class="ticker__item">
              <div class="ticker__item-content">
                <div class="ticker__item-content-text">
                  {{ block.settings.text }}
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
        <li class="splide__slide">slajd 1</li>
        <li class="splide__slide">slajd 2</li>
        <li class="splide__slide">slajd 3</li>
        <li class="splide__slide">slajd 4</li>
        <li class="splide__slide">slajd 5</li>
        <li class="splide__slide">slajd 6</li>
        <li class="splide__slide">slajd 7</li>
        <li class="splide__slide">slajd 8</li>
      </ul>
    </div>
  </splide-slider>

{% schema %}
{
  "name": "t:sections.ticker.name",
  "tag": "section",
  "class": "section ticker",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "blocks": [
    {
      "type": "ticker_item",
      "name": "t:sections.ticker.blocks.ticker_item.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.ticker.blocks.ticker_item.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.ticker.presets.name"
    }
  ]
}
{% endschema %}
